---
apiVersion: v1
kind: Service
metadata:
  name: default-backend
  namespace: {{ ingress_nginx_namespace }}
  labels:
    app.kubernetes.io/name: default-backend
    app.kubernetes.io/part-of: {{ ingress_nginx_namespace }}
spec:
  ports:
    - port: 80
      targetPort: 8080
  selector:
    app.kubernetes.io/name: default-backend
    app.kubernetes.io/part-of: {{ ingress_nginx_namespace }}
